.clearfix::after {
    clear: both;
    content: "";
    display: block;
    overflow: auto
}

/* .backgroundImage {
    position: absolute; 
    left: 0 auto; 
    width: 2000px;
    height: 2000px;
} */

body {
    color: #777777;
    font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
    width: 100% auto;
}

.wrapper {
    width: 960px;
    box-align: center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    font-size: 36px;
    float: left;
    padding: 20px;
    margin: 0 auto;
    /* float: left; */
}

.links {
    padding:20px;
    float: right;
}

header {
    background: #ffffff;
    color: #fff;
    border-bottom: 1px solid #cccccc;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    position: relative;
    width: 100%;
    height:85px;
}

.mainBox {
    background-color:#ffffff;
    border: #dddddd;
    height: 900px;
    position: relative;
    top: 20px
    
}

.h1 {
    border-bottom-color: 1px solid #dddddd;
    background-color:#ffffff;
    margin: 20px;
}

.contentBox {
    background-color: plum;
    margin: 20px;
    position: relative;
}

section {
    float:left;
}
#imageJC {
   width: 20%;
   /* float: left; */
   /* position: absolute; */
}

p {
    /* float: right; */
    width: 0px auto;
}

#thinFooter {
    background-color: #4aaaa5;
    height: 5px;  
}

#footer {
    background-color: #666666;
    color: #fff;
    height: 50px;
    text-align: center;
    font-size: x-small;
    /* padding-top: 10px; */
}